/* Override some defaults */
html, body {
  background-color: #D9E8EB;;
  font-family: Microsoft Yahei;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 940px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 0px 22px rgba(0,0,0,.15);
     -moz-box-shadow: 0 0px 22px rgba(0,0,0,.15);
          box-shadow: 0 0px 22px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
body {
  font-size: 14px;
  line-height: 22px;
}

li, p {
  line-height: 22px;
  font-size: 15px;
}

h1 {font-size: 24px; clear: both;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}

h3,h4 {line-height: 42px; clear: both;}

code {
  font-size: 12px;
  color: #333333;
}

blockquote {
  color: #909090;
  margin: 0 0 18px 18px;
}

blockquote p {
  font-style: italic;
  font-size: 14px;
}

.highlight pre {background-color: #505050;}
.highlight pre code{color: white;}

.signature {
  font-size: 15px;
  color: #9D9D9D;
  font-style:italic;
}

/* post content in post page*/
div.span8 {
  width: 680px;
}

/* right sidebar in post page*/
div.span4 {
  width: 220px;
}

/**************** homepage ********************/
div.home-page-content {
  
}

div.home-page-post .date {
  color: #9D9D9D;
  font-size: 16px;
}

div.home-page-post label{
  font-weight: bold;
  display: inline;
}

div.home-page-post div.post-header{
  width: 20%;
  float: left;
  margin-right: 10px;
}

div.home-page-post div.post-header .tags span, div.home-page-post div.post-header .category span {
  font-size: 12px;
}

div.home-page-post div.post-content{
  overflow: hidden;
}

div.home-page-post div.post-content div.title{
  font-size: 16px;
  font-weight: bold;
}

div.home-page-post div.post-content div.abstract{
  color: #444444;
}

div.post-footer {
  border-bottom: 1px solid #EAEAEA;
  margin: 10px 0;
  clear: both;
  line-height: 0;
}

div.home-page-sidebar {
  /*width: 100%;*/
  /*float: right;*/
  margin: 10px;
}

.sidebar-title {
  font-weight: bold;
  border-radius: 3px 3px 3px 3px;
  padding: 3px 6px;
  width: 100%;
  background-color: #EEEEEE;
}

/******************* images *******************/
img[alt=avatar], img[alt="jekyll-bootstrap-dir-structure"] { 
  float: left; 
  margin-right: 30px;
}

img[alt="rss feed"] { 
  float: right; 
  margin-top: 5px;
}

img[alt="blogging"] { 
  float: left; 
  width: 500;
  height: 326;
  margin-right: 20px;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
      pre{
        font-weight:900;
      }
      #myheader
      {
        width: 100%;
        background:rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        margin-bottom: 0;
      }
      #header-inner h1 a:hover
      {
        color:#CCC;
        text-decoration: none;
      }

      #myheader a
      {
        color:#FFF;
        transition: color 1s;
      }
      #myheader li a:hover
      {
        color:#000;
        background-color: #eeeeee;
        border-radius: 3px;
      }

      #header-inner
      {
        width:840px;
        margin:0 auto auto;
      }

      #header-inner h1
      {
        font-size: 26px;
        float: left;
        margin:0px;
      }

      #header-inner h1 a
      {
        font-weight:700;
      }

      #header-inner ul
      {
        float: right;
        margin-bottom: 0;
        font-size: 12px;
        list-style: none;
        margin-top:0px
      }
      #header-inner ul li
      {
        float:left;
      }

      #header-inner ul li a
      {
        margin: 5px 0 0 10px;
        line-height: 15px;
        display: block;
        padding: 10px 10px;
        font-size: 18px;
        font-family: 'Playball', cursive;
      }

